#if("$!{config.debug}"=="true")
    #loadScript([
    	"/js/lib/jquery/jquery-1.11.2.js",
    	"/js/lib/angular/angular.bundle.min.js",
    	"/js/lib/underscore/underscore.js",
    	"/js/app.config.js",
    	"/js/components/dialog.js",
    	"/js/services/localstorage.js",
    	"/js/lib/bootstrap/ui-bootstrap-tpls.js",
    	"/js/module/register-login/register-login.controller.js",
    	"/js/module/register/register.js"
    ],"", "$!{scriptVersion}")
#else
	#loadScript([
		"/dist/??lib/jquery/jquery-1.11.2.js,lib/angular/angular.bundle.min.js,lib/underscore/underscore.js,lib/bootstrap/ui-bootstrap-tpls.js,app.config.js,components/dialog.js,services/localstorage.js,module/register-login/register-login.controller.js,module/register/register.js"
	],"", "$!{scriptVersion}")
#end
<script type="text/javascript">
	$(window).on('load',function(){
		var moduleName=$('#module-name').val();
		angular.bootstrap(document, [moduleName]);
	})
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?91dab82a6ef81db2e5947dc18533ebba";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>