<div class="px-nav px-theme-default px-theme-{{vm.theme}}" ng-controller="SidebarController">
    <!--组织标题部分-->

<px-nav-header company="company"></px-nav-header>

    <!--导航内容区-->
<div class="px-nav-body" px-scroll-bar>
    <div class="px-panel">
        <ul class="list-unstyled px-list" ng-if="systemTeam">
            <li ui-sref-active="active" class="clearfix" ng-click="onSystemTeamClick()">
                <div style="position:relative;">
                    <div style="position:absolute;">
                        <span class="px-icon icon-institution"></span>
                    </div>
                    <div style="margin-left:26px;">
                        <a ui-sref="chat.team({tid:systemTeam.id})" class="ellipsis" ng-bind="systemTeam.name" disable-drag=""></a>
                    </div>
                </div>
                <span class="px-label px-label-danger px-label-circle" ng-if="systemTeam.unread" ng-bind="systemTeam.unread"></span>

            </li>
        </ul>
    </div>
    <!--讨论组-->
    <team-panel></team-panel>


    <!--最近联系人-->

    <recent-contact-panel></recent-contact-panel>


</div>


    <!--导航底部-->
<div class="px-nav-footer">
    <!--户用头像-->
<px-nav-user-head user="user"></px-nav-user-head>

</div>


</div>
