<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.church.visit.dao.RecordDao" >
	
	<sql id="default_column">
		`record`.`id`,
		`record`.`uid_target` as uidTarget,
		`record`.`uid_visitor` as uidVisitor,
		`record`.`visitors`,
		`record`.`gmt_visit` as gmtVisit,
		`record`.`logs`,
		`record`.`is_visited` as isVisited,
		`record`.`gmt_created` as gmtCreated,
		`record`.`gmt_modify` as gmtModify
	</sql>
	
</mapper>