<!--[if IE]>
<h1>对不起，你的浏览器版本太低，请升级</h1>
<![endif]-->

<div class="px-page wp-page">
    <header class="px-page-header">

        <div class="pull-right">
            <common-user-header></common-user-header>
        </div>
        <!--<div class="wp-logo">
            <a href="http://chat.parox.cn">
                <img src="../images/logo-01.png" />
                <span class="explain">分享快速，工作超越</span>
            </a>
        </div>-->
        <common-header-nav></common-header-nav>
    </header>

    <div class="px-page-body cal-panel" calendar-panel="">

        <header class="cal-panel-header">
            <div class="pull-left" style="margin-left: 20px;margin-top:12px;">
                <button class="px-btn px-btn-primary" calendar-panel-create=""><span class="icon-small px-icon icon-plus"></span>新建</button>
                <calendar-filter>
                    <px-filter-combo-box style="display:inline-block;"
                                         filter-menu="shareConfig.filterMenu"
                                         select-all="shareConfig.doFilter(3)"
                                         show-all-btn="true"
                                         search-input="搜索成员或群组"
                                         menu-type="shareConfig.menuType">

                        <button class="px-btn" dropdown-toggle="" >
                            <span filter-btn ng-model="name" ng-bind="name"></span>
                            <span class="icon-small px-icon icon-sort-desc" style="padding:0 0 0 10px;"></span>
                        </button>
                    </px-filter-combo-box>
                </calendar-filter>

            </div>

        </header>

        <div class="cal-panel-body">
            <div full-calendar="" fc-option="calendarOption" style="margin:20px;"></div>
        </div>
    </div>
</div>

<side-viewer is-open="vm.isOpen" type="agenda" title="日程" >
    <agenda-detail-panel agenda="agenda"></agenda-detail-panel>
</side-viewer>

<script>
    #if(${userSettings})
        window.userSettings=${userSettings};
    #else
    window.userSettings=null;
    #end

    #if(${user})
        window.sessionUser = $!{user};
    #else
    window.sessionUser = null;
    #end

    #if(${config})
        window.config=${config};
    #else
    window.config=null;
    #end


    #if(${teams})
        window.teams=${teams};
    #else
    window.teams=null;
    #end

    #if(${contacts})
    window.contacts=${contacts};
    #else
    window.contacts=null;
    #end

    #if(${companyMembers})
    window.currentCompanyMembers=${companyMembers};
    #else
    window.currentCompanyMembers=null;
    #end



    window.scriptVersion="$!{scriptVersion}";
</script>
<script type="text/javascript">

    (function($document){

        var scripts=[
            'lib/jquery/jquery-1.11.2.js',
            'lib/angular/angular.bundle.min.js',
            'lib/seajs/sea.js',
            'module/calendar/sea.calendar.config.js',

        ];

        var isProduction=window.config.debug=='true'?false:true;
        var base=isProduction?'../dist/??':'../js/';

        if(isProduction){
            createScript(base,scripts.join(','));
        }else{
            createScript(base,scripts);
        }

        function createScript(baseSrc,src){
            var html='';
            if(src instanceof Array){
                src.forEach(function(add){
                    html+='<script src="'+(baseSrc+add)+'?v=${scriptVersion}"><\/script>';
                });

            }else{

                html+='<script src="'+(baseSrc+src)+'?v=${scriptVersion}"><\/script>';
            }
            $document.write(html);
        }
        window.name='paroxCalendar';
        $document.title='日历-派乐';

    })(document);

</script>
