<div id="preview_error">
#if(${errorMsg})
	<div  class="inaccessible-page">
        <img src="/images/common/pan/resource-share.png">
        <p>${errorMsg}</p><!-- style="margin-top:120px" -->
    </div>

#else
#end
</div>

