#set($layout="/layout/blank.vm")
<!DOCTYPE html>
<html class="px-full-screen">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>派乐</title>
    <link rel="shortcut icon" href="#springUrl('/images/favicon.png')">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="派乐Parox是全新的企业协同云平台，让你与你的团队以前所未有的方式开展工作，用户可以直接沟通，建立工作空间，与特定的人或组织开展合作，可以将文档、任务、目标、项目、日程日历等关于工作的信息，连同工作相关的人像社交网络那样组织在一起。派乐Parox使得我们能够更加清晰地了解任务的规模、进度以及人员状态，让我们回归工作的本质要求：高效便捷地获取资源。" />
    <meta name="keywords" content="道曼派乐,parox,网络办公,云办公软件,协同办公,高效办公,时间管理,工作日历,任务分配,日程管理,轻办公,工作流程管理,云储存,考勤管理,工作日程管理软件,工作沟通,文件管理,项目管理,文件共享,即时沟通,团队沟通" />
    <meta name="author" content="www.parox.cn" />
    <meta name="application-name" content="www.parox.cn" />
    #loadCss([
    "/css/bootstrap/bootstrap.css",
    "/css/bootstrap/parox-font-icon.css",
    "/css/style.css",
    "/js/lib/custom-scrollbar/jquery.mCustomScrollbar.min.css",
    "/js/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css",
    "/js/lib/fullcalendar/fullcalendar.min.css",
    "/js/lib/g_code_prettify/prettify.css"
    ],"","$!{scriptVersion}")

</head>
<body class="px-full-screen">
<div class="px-page">
    <div class="px-page-header">
        <a href="http://www.parox.cn" class="px-logo">
            <h1 class="px-logo-img">杭州道曼科技有限公司</h1>
            <p class="px-explain">分享快速，工作超越</p>
        </a>

        <a href="/login" class="px-btn px-btn-success pull-right" ng-if="!resetSuccess">登录</a>
    </div>
    <div class="px-page-body px-reset-password" ng-controller="ResetPasswordController">
        <div class="px-panel hid" ng-if="!resetSuccess"  ng-class="{show:!resetSuccess,hide:resetSuccess}">
            <div class="px-panel-header">
                <h1 class="px-main-title text-center">设置新密码</h1>
            </div>

            <form name="resetPasswordForm" ng-submit="onSubmit(${recover.id})" class="px-form">
                <div class="form-group mail-text">
                    <span>${recover.account}</span>
                </div>
                <div class="input-group px-float">
                    <input type="{{passwordVisual?'text':'password'}}" ng-model="account.password" ng-minlength="6" ng-maxlength="30"
                    placeHolder="输入6位以上新密码" class="form-control px-input-base" required=""/>
                    <span class="eyes" ng-click="showPassword()">显示</span>
                </div>
                <div class="form-group">
                    <button class="form-control px-btn px-btn-primary" ng-disabled="resetPasswordForm.$invalid">
                        <span>完成</span>
                    </button>
                </div>
            </form>
        </div>
        <div  class="px-panel px-success-panel hid" ng-if="resetSuccess" ng-class="{show:resetSuccess,hide:!resetSuccess}">
            <div class="px-panel-header">
                <h1 class="px-main-title text-center">恭喜，密码找回成功！</h1>
            </div>
            <div class="px-form">
                <div class="form-group mail-text">
					<span>${recover.account}</span>
                </div>
                <div class="form-group">
                    <a href="/login" class="form-control px-btn px-btn-primary">
                        <span>立即登录</span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
<input id="module-name" type="hidden" value="app.register-login">
#parse('/common/footer.vm')

</body>
</html>