#set($layout="/layout/default_unlogin.vm")

<div class="px-page" ng-controller="RegisterController">
    <div class="px-page-header">
        <a href="http://www.parox.cn" class="px-logo">
            <h1 class="px-logo-img">杭州道曼科技有限公司</h1>
            <p class="px-explain">分享快速，工作超越</p>
        </a>

        <a href="{{viewModel.loginUrl}}" class="px-btn px-btn-success pull-right">登录</a>

    </div>
    <div class="px-page-body px-register">
        <div class="px-register" ui-view="register-form">

        </div>
        <div style="
               position: absolute;
              left: 0;
              right: 0;
              height: 36px;
              margin: auto;
              top: 500px;
              text-align: center;"
             ui-view="toggle-view">
        </div>

    </div>
</div>
<input id="module-name" type="hidden" value="app.register">
<script type="text/javascript">
    document.title="注册-派乐";
</script>
<script>
    #if("$!{inviteUid}"!='' || "$!{inviteCid}" != "" || "$!{inviteTid}"!="")
    window.inviteMsg={inviteUid:"$!{inviteUid}",inviteCid:"$!{inviteCid}",inviteTid:"$!{inviteTid}",targetAccount:"$!{targetAccount}"};
    #end
</script>
